    *{
        Margin:0;
        Padding:0;
        text-decoration: none ;
    }
    header{
     height: 100px ; 
     background:rgb(255, 255, 255);
     padding: 0 60px
    }
    .logo{
        width: 50px;
        float :left;
        color: rgb(209, 43, 34);
        font-weight: bolder;
        line-height: 45px ;
        font-family: serif;
        word-spacing: 10px ;
    }
    nav ul li {
            display: inline-block;    
    }
    nav ul{
        word-spacing: 15px ;
        float: right;
    }
nav ul a{
    text-decoration: firebrick;
    Color: rgb(209, 43, 43);
    font-family: 'Times New Roman', Times, serif;
    font-weight: Bolder;
    Margin: 5px; 
    text-transform: uppercase;
    line-height: 75px ;
}
